{% extends 'base.html' %} {% load static %} {% block title %} Home {% endblock %}
{% block content %}
<div class="meeting_date">
  <div class="title_head">
    <br><br>
    <h1>Monks Eleigh Swan Investors Club</h1>
    <br />
    <p>Next MESI meeting will be Friday 7th July 2023, The Swan Inn at 7.00pm</p>
  </div>

  <br /><br />

  <section class="news">
    <p>'FTSE 100 falls flat as UK misses global stock rally'</p>
    <p>Full FT article can be read <a
        href="https://www.ft.com/content/c49a03d9-8c8f-420d-b2e3-2de23ab579a0?shareType=nongift">here</a>
    </p>
    <img src="static\images\ft_ftse_graph.avif" alt="stocks ftse graph">
  </section>

</div>
{% endblock %}