{% extends 'base.html' %} {% load static %}
{% block title %} Stock Tracker {%endblock %}


<!-- Main body content  -->

{% block content %}
<br />
<br />
<div class="container_watchlist">
  <div class="input_btn">
    <form method="POST" action="{% url 'watchlist' %}" class="form-inline">
      {% csrf_token %}
      <input class="form-control" type="text" placeholder="Symbol eg LLOY.L" aria-label="Add" name="ticker" required />
      <input class="form-control" type="text" placeholder="Your Name" aria-label="Add" name="name" required />
      <button class="btn" type="submit">Add Stock</button>
    </form>
  </div>
  <br />
  {% block messages %} {% if messages %} {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    <!-- singular -->
    {{ message|safe }}
  </div>
  {% endfor %} {% endif %} {% endblock %}

  <br /><br />
  <div class="table_container">
    <table>
      <thead>
        <tr>
          <th>Symbol</th>
          <th class="hide">Company&nbspName</th>
          {% comment %} include a space character to make the table cell wider
          {% endcomment %}
          <th class="hide">Record Created</th>
          <th>Proposer</th>
          <th class="hide">Current Price</th>
          <th class="hide">52wk Low</th>
          <th class="hide">52wk High</th>
          <th class="hide">Forward PE</th>
          <th>Remove Record</th>
        </tr>
      </thead>
      <!-- {{all_tickers}} -->
      <tbody>
        {% for data in all_tickers%}

        <tr>
          <td>
            <a class="ticker" href="https://uk.finance.yahoo.com/quote/{{data.ticker}}">{{data.ticker}}</a>
          </td>
          <td class="hide" class="name_size">{{data.shortName|title}}</td>
          <td class="hide"> {{data.create_date|date:'d/m/y' }}</td>
          <td>{{data.name|title}}</td>
          <td class="hide">{{data.currentPrice |floatformat:2}}</td>
          <td class="hide">{{data.fiftyTwoWeekLow|floatformat:0}}</td>
          <td class="hide">{{data.fiftyTwoWeekHigh|floatformat:0}}</td>
          <td class="hide">{{data.forwardPE|floatformat:2}}</td>

          <td>
            <a class="delete_record" href="delete/{{data.ticker}}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<br /><br />

<br /><br />

{% endblock %}